---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import MainContent from '../layouts/MainContent.astro';

import LeftRail from '../components/LeftRail.astro';
import RightRail from '../components/RightRail.astro';

const blogEntries = await getCollection('blog');
const blogEntry = blogEntries[0];
const { Content } = await blogEntry.render();
---

<BaseLayout >
    <div class="basis-full md:basis-1/4 ml-12 md:mt-4">
        <LeftRail />
    </div>
    <div class="hidden md:block basis-1/2">
        <MainContent pageTitle={blogEntry.data.title} pubDate={blogEntry.data.pubDate}>
            <Content />
        </MainContent>
    </div>
    <RightRail />
</BaseLayout>
