---
---

<div class="text-center md:hidden mb-4 mt-0">
    <a class="text-gray-700" href={import.meta.env.BASE_URL}>
        <i class="bi bi-house-door-fill text-xl lg:text-2xl" alt="Homepage"></i>
    </a>
</div>
        