---
import dachshund from '../dachshund.svg';

import Hero from '../components/Hero.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={dachshund} />
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" 
		    rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" 
		    rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" 
		    rel="stylesheet">
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chicago Bot Dog</title>
	</head>
	<body class='font-lora'>
		<Hero />
	    <div class="mt-4 md:mt-8 flex">
			<slot />
        </div>
	</body>
</html>
