---


import dachshund from '../dachshund.svg';

import Hero from '../components/Hero.astro';
import LeftRail from '../components/LeftRail.astro';
import RightRail from '../components/RightRail.astro';
import MainContent from './MainContent.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={dachshund} />
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" 
		    rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" 
		    rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" 
		    rel="stylesheet">		    
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chicago Bot Dog</title>
	</head>
	<body class='font-lora'>
		<Hero />
	    <div class="mt-8 flex">
			<slot />
        </div>
	</body>
</html>
