---
import Countable from 'countable';
import moment from 'moment';

const {entry, pageTitle, pubDate} = Astro.props;

let counts;
function countWords(counter) {
    counts = counter;
}

Countable.count(entry.body,counter => countWords(counter),
    {stripHtmlTags:true});
---

<h2 class="text-xl font-bold font-poppins">{pageTitle}</h1>
<div class="text-gray-400">
	{moment(pubDate).fromNow()}
</div>
<div class="prose mt-4">
	<slot />
	<div class="text-gray-400 mt-4 text-right">
		{counts.words + ' ' + 'words'}
	</div>	
</div>

